build/
*.apk
*.aab
*.bundle

.kotlin/
*.class
bin/

.idea/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.iml
.navigation/

*.DS_Store
.DS_Store
Thumbs.db

*.jks
*.keystore
*.p12
google-services.json

*.avd/
*.ini

*.log
.shelf/